<!DOCTYPE html>
<html>
<head>
    <title>Feedback</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>All Feedback</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Rating</th>
            <th>Comments</th>
            <th>Patient</th>
            <th>Event Location</th>
        </tr>
        {% for f in feedbacks %}
        <tr>
            <td>{{ f[0] }}</td>
            <td>{{ f[1] }}</td>
            <td>{{ f[2] }}</td>
            <td>{{ f[3] }}</td>
            <td>{{ f[4] }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/feedback/submit">Submit Feedback</a><br>
    <a href="/">Back to Home</a>
</body>
</html>
